@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item-explain-error {
  font-size: 13px;
}

.ant-modal .ant-modal-header {
  margin-bottom: 14px;
}

.add-question-modal .ant-form-item,
.card-question .ant-form-item {
  margin-bottom: 0;
}

.upload-cover .ant-upload-select {
  width: 100% !important;
  height: 200px !important;
  overflow: hidden;
  border-style: solid !important;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #4b0858;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2a0830;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4b0858;
  }
}